version: 2 # use CircleCI 2.0
jobs: # a collection of steps
  build: # runs not using Workflows must have a `build` job as entry point
    parallelism: 1 # run three instances of this job in parallel
    working_directory: ~/circleci-demo-ruby-rails # directory where steps will run
    docker: # run the steps with Docker
      - image: circleci/ruby:2.4-node # ...with this image as the primary container; this is where all `steps` will run
        environment: # environment variables for primary container
          BUNDLE_JOBS: 1
          BUNDLE_RETRY: 1
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: circleci-demo-ruby
          RAILS_ENV: test
    steps: # a collection of executable commands
      - checkout # special step to check out source code to working directory

      - run:
          name: Install rspec
          command: gem install rspec

      - run:
          name: Run rspec in parallel
          command: |
            rspec --format RspecJunitFormatter \
                              --out test_results/rspec.xml \
                              --format progress \
                              ruby/gilded_rose_spec.rb

      # Save test results for timing analysis
      - store_test_results:
          path: test_results
      # See https://circleci.com/docs/2.0/deployment-integrations/ for example deploy configs
